CMakeCache.txt
CMakeFiles
cmake_install.cmake

Testing
CTestTestfile.cmake

ma_odbc_version.h
wininstall/mariadb_odbc.xml
mariadb-odbc-driver-uni.def

*.vcxproj
*.vcxproj.*
*.sln
*.suo
*.sdf
*.dir
Debug
Win32
ipch

*.msi
*.wixobj
*.wixpdb

*.*~
*.diff
*.bak
*.so
*.dylib
.idea/
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
test/odbc_basic
test/odbc_blob
test/odbc_bulk
test/odbc_catalog
testodbc_/curext
test/odbc_cursor
test/odbc_datetime
test/odbc_desc
test/odbc_dyn_cursor
test/odbc_error
test/odbc_info
test/odbc_keys
test/odbc_multistatement
test/odbc_param
test/odbc_prepare
test/odbc_relative
test/odbc_result1
test/odbc_result2
test/odbc_scroll
test/odbc_tran
test/odbc_types
test/odbc_unicode
test/odbc_use_result
test/basic
test/blob
test/bulk
test/catalog
test/curext
test/cursor
test/datetime
test/desc
test/dyn_cursor
test/error
test/info
test/keys
test/multistatement
test/odbc.ini
test/odbcinst.ini
test/param
test/prepare
test/relative
test/result1
test/result2
test/scroll
test/tran
test/types
test/unicode
test/use_result

# Keep empty directories:
# Keep empty directories: >> .gitignore/.git*
