sudo: true
language: c
services: docker
addons:
  hosts:
    - mariadb.example.com

before_install:
  - chmod +x .travis/s390x.sh
  - chmod 777 .travis/build/
  - export PROJ_PATH=`pwd`
  - export ENTRYPOINT=$PROJ_PATH/.travis/sql
  - mkdir tmp
  - .travis/gen-ssl.sh mariadb.example.com tmp
  - export SSLCERT=$PROJ_PATH/tmp

matrix:
  allow_failures:
    - os: linux
      env: DB=build:10.6
    - os: linux
      env: DB=mariadb:10.5 PACKET=8M MAXSCALE_VERSION=2.5.3
    - os: linux
      env: DB=build
    - os: linux
      env: DB=mysql:5.5
    - os: linux
      env: DB=mysql:5.6
    - os: linux
      env: DB=mysql:5.7
    - os: osx
      env: DB=mariadb:10.5
    - os: linux
      env: DB=mariadb:10.1
    - env: SKYSQL=true
    - env: SKYSQL_HA=true MAXSCALE_TEST_DISABLE=true
  include:
    - os: linux
      env: DB=build:10.6
    - os: linux
      env: DB=mariadb:10.2
    - os: linux
      env: DB=mariadb:10.3
    - os: linux
      env: DB=mariadb:10.4
    - os: linux
      compiler: gcc
      env: DB=mariadb:10.5
    - os: linux
      compiler: clang
      env: DB=mariadb:10.5
    - env: SKYSQL=true
    - env: SKYSQL_HA=true MAXSCALE_TEST_DISABLE=true
    - os: osx
      compiler: gcc
      env: DB=mariadb:10.5
      addons:
        mariadb: '10.4'
      before_script:
        - brew update
        - brew install openssl
        - brew install libiodbc
        - brew install mariadb
    - os: linux
      env: DB=mariadb:10.5 PACKET=8M MAXSCALE_VERSION=2.5.3
    - os: linux
      env: DB=mysql:5.5
    - os: linux
      env: DB=mysql:5.6
    - os: linux
      env: DB=mysql:5.7
    - os: linux
      arch: s390x
      
script:
  - if [[ "$DB" == build* ]] ; then .travis/build/build.sh; fi
  - if [[ "$DB" == build* ]] ; then docker build -t build:10.6 --label build .travis/build/; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ] && [ "$TRAVIS_ARCH" != "s390x" ] ; then .travis/script.sh; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then .travis/osx.sh; fi
  - if [ "$TRAVIS_ARCH" = "s390x" ]; then .travis/s390x.sh; fi
